name: Build, Tag, and Deploy to DockerHub

on:
  push:
    branches:
      - master
  release:
    types:
      - created


# Environment variables available to all jobs and steps in this workflow
env:
  GITHUB_SHA: $(git rev-parse --short=7 ${{ github.sha }})
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_ORGANIZATION: ${{ secrets.DOCKER_ORGANIZATION }} 
  IMAGE: wisp-users

jobs:
  setup-build-tag-push:
    name: Setup, Build, Tag, and Push
    runs-on: ubuntu-latest
    steps:

    # Checkout Commit
    - name: Checkout
      uses: actions/checkout@v2

    # Build the Docker image
    - name: Build
      run: |        
        docker build -t "$DOCKER_ORGANIZATION"/"$IMAGE":"$GITHUB_SHA" .
    
    # Tag the Docker image
    - name: Tag
      run: |
        docker tag "$DOCKER_ORGANIZATION"/"$IMAGE":"$GITHUB_SHA" "$DOCKER_ORGANIZATION"/"$IMAGE":latest

    # Push the Docker image to Dockerhub
    - name: Publish
      run: |
        docker login -u=$DOCKER_USERNAME -p=$DOCKER_PASSWORD 
        docker push $DOCKER_ORGANIZATION/$IMAGE
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}